.menu
{
	position:absolute;
	top: 0%;
	background: #1C1C1C;
	width: 100%;
	height: 8%;
	border-radius: 8px;
}
.scc{
	width: 5%;
	height: 100%;
}
.menu-item1
{
	font-size: 25px;
	text-align: center;
	color: yellow;
	text-decoration: none;
	z-index: 5;
}
.menu-item1:hover
{
	font-size: 30px;
	font-weight: 100;
}
.menu-item2
{
	text-decoration: none;
	font-size: 15px;
	color: #FFFFFF;
}
.menu-item2:hover
{
	font-weight: 200;
	color: red;
}
