  *{
           margin: 0;
           padding: 0;
           box-sizing: border-box;
       }
      /* 整个页面大小*/
       #screen
       {
       	position: absolute;
       	width: 100%;
       	height: 100%;
       	overflow: hidden;
       	filter: blur(0px);
       }
				/*赛博朋克按钮*/
				.bbb
       {
       	position: absolute;
       	z-index: 3;
       	top: 75%;
       	left: 60%;
       }
      	.bbb, .bbb::after {
			  width: 300px;
			  height: 86px;
			  font-size: 40px;
			  background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
			  border: 0;
			  color: #fff;
			  letter-spacing: 3px;
			  line-height: 88px;
			  box-shadow: 6px 0px 0px #00E6F6;
			  outline: transparent;
			  position: relative;
			}
			.bbb::after {
			  --slice-0: inset(50% 50% 50% 50%);
			  --slice-1: inset(80% -6px 0 0);
			  --slice-2: inset(50% -6px 30% 0);
			  --slice-3: inset(10% -6px 85% 0);
			  --slice-4: inset(40% -6px 43% 0);
			  --slice-5: inset(80% -6px 5% 0);
			  content: '立即加入';
			  display: block;
			  position: absolute;
			  top: 0;
			  left: 0;
			  right: 0;
			  bottom: 0;
			  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
			  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
			  clip-path: var(--slice-0);
			}
			.bbb:hover::after {
			  animation: 1s glitch;
			  animation-timing-function: steps(2, end);
			}
			/*背景视频   z-index为0   表示最下层*/
       .vd
       {
      		position: fixed;  
   				top: 0%;
          right: 0px;  
         bottom: 0px;  
         min-width: 100%;  
         min-height: 100%;  
         height: auto;  
         width: auto;  
				z-index:0;						
       }
			/*图片轮播*/
			.total
		{
			position: fixed;
			height: 300px;
			width: 400px;
			overflow:hidden;
			left:60%;
			top: 20%;
			z-index: 3;
			}
		#banner
		{
			height: 300px;
			width: 2800px;
			list-style-type: none;
		}
		#banner img
		{
			width: 400px;
			height: 300px;
		}
		#banner li
		{
			list-style: none;
			float: left;
		}
		:root {
		  --yellow-color: #f9f002;
		  --border-color: #8ae66e;
		}
		/*图片样式*/
		.cyberpunk1 {
			cursor: pointer;
		  padding: 5px;
		  position: relative;
		  font-size: 1.2rem;
		  color: var(--yellow-color);
		  border: 30px solid var(--yellow-color);
		  border-right: 5px solid var(--yellow-color);
		  border-left: 5px solid var(--yellow-color);
		  border-bottom: 24px solid var(--yellow-color);
		  background-color: #000;
		  clip-path: polygon(0px 25px, 26px 0px, calc(60% - 25px) 0px, 60% 25px, 100% 25px, 100% calc(100% - 10px), calc(100% - 15px) calc(100% - 10px), calc(80% - 10px) calc(100% - 10px), calc(80% - 15px) 100%, 80px calc(100% - 0px), 65px calc(100% - 15px), 0% calc(100% - 15px));
		}
		.cyberpunk1.inverse {
		  border: none;
		  padding: 40px 15px 30px;
		  color: #000;
		  background-color: var(--yellow-color);
		  border-right: 2px solid var(--border-color);
		}
		.dotted, .dotted:before, .dotted:after {
		  background: var(--yellow-color);
		  background-image: radial-gradient(#00000021 1px, transparent 0);
		  background-size: 5px 5px;
		  background-position: -13px -3px;
		}
		/* 文本框右侧小编号样式 */
		.cyberpunk1:before {
		  content: "P-14";
		  display: block;
		  position: absolute;
		  bottom: -12px;
		  right: 25px;
		  padding: 2px 2px 0px 2px;
		  font-size: 0.6rem;
		  line-height: 0.6rem;
		  color: #000;
		  background-color: var(--yellow-color);
		  border-left: 2px solid var(--border-color);
		}
		.cyberpunk1.inverse:before {
		  content: "T-71";
		  right: 90px;
		  bottom: 9px;
		}
		.cyberpunk1.inverse:before, .cyberpunk:before {
		  background-color: #000;
		  color: var(--yellow-color);
		}
		/*文本样式*/
		.txt
		{
			position: absolute;
			top: 40%;
			left: 50%;
		}
		.changetxt li
		{
			list-style: none;
			display: inline-block;
			width: 20px;
			border: solid;
			text-align: center;
			background: rgba(0,0,0,0.2);
		}
		.changetxt li:hover
		{
			cursor:pointer;
			background: rgba(0,0,0,0);
		}
		.footer
		{
			position: absolute;
			background-color: #1C1C1C;
			width: 100%;
			height: 5%;
			bottom: 0%;
			border-radius: 8px;
			color: #FFFFFF;
			text-align: center;
			line-height: 50px;
			font-size: 20px;
			z-index: 7;
		}
			@keyframes glitch {
			  0% { clip-path: var(--slice-1); transform: translate(-20px, -10px); }
			  10% { clip-path: var(--slice-3); transform: translate(10px, 10px); }
			  20% { clip-path: var(--slice-1); transform: translate(-10px, 10px); }
			  30% { clip-path: var(--slice-3); transform: translate(0px, 5px); }
			  40% { clip-path: var(--slice-2); transform: translate(-5px, 0px); }
			  50% { clip-path: var(--slice-3); transform: translate(5px, 0px); }
			  60% { clip-path: var(--slice-4); transform: translate(5px, 10px); }
			  70% { clip-path: var(--slice-2); transform: translate(-10px, 10px); }
			  80% { clip-path: var(--slice-5); transform: translate(20px, -10px); }
			  90% { clip-path: var(--slice-1); transform: translate(-10px, 0px); }
			  100% { clip-path: var(--slice-1); transform: translate(0); }
			}
		clip-path: polygon(
		  0px 25px,
		  26px 0px,
		  calc(60% - 25px) 0px,
		  60% 25px, 
		  100% 25px, 
		  100% calc(100% - 10px),
		  calc(100% - 15px) calc(100% - 10px),
		  calc(80% - 10px) calc(100% - 10px),
		  calc(80% - 15px) 100%,
		  80px calc(100% - 0px),
		  65px calc(100% - 15px),
		  0% calc(100% - 15px)
		);
